<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  Welcome, <%= current_user.username if logged_in? %> to the site!

  <body>
    <%= yield %>
  </body>
</html>
